body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1{
    color: #2F8F9D;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;

}

h2{
    color: #2F8F9D;
 
    font-family: 'Montserrat', serif;
}

h3{
    color: #2F8F9D;
    
    font-family: 'Montserrat', serif;

}







.top-container {
    background-color: #B3E8E5;
    position: relative;
    padding-top: 100px
    


}

.para1{
    font-size: 1.5rem;
    color: #3BACB6;


}

.middle-container{
    width: 100%;
    margin: 100px 5% 100px 5%;
    /*padding: 100px auto 100px auto;*/
    text-align: left;
    line-height: 2;
}


.propic{
    width: 15%;
    float: left;
    margin-right: 40px;
   
   
   
}

.skills{
    margin-top: 50px;
    padding-top: 50px;


}

.skill-row{
    margin-top: 50px;
    padding-top: 20px;
}

.skill-row2{
    margin-top: 50px;
    padding-top: 20px;
}

.skillspic{
    width: 15%;
    float: right;
    margin-right: 30px;
    
   
}

.innovator{
    width: 15%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}



.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;
    


}
.bottom-cloud{
    position: absolute;
    left: 20%;
    bottom: 300px;

}

.myskills{
    padding-top: 50px;
}


.contact-me{

    padding-top: 10%;
    text-align: center;
}

.bottom-container{
  
}


.footer-link{
    text-align: center;
    padding-left: 100px;
}

.footer-link1{
    text-align: center;
    padding-left: 100px;
}

.myskills{
    text-align: center;
}